<%= render "shared/header" %>

  <body>
    <%= render "shared/nav" %>
    <div class="container text-center mb-4">
      <% if flash.notice %>
        <div class="alert alert-success"><%= flash.notice %></div>
      <% end %>
      <%= yield %>

      <%#= render "shared/footer" %>
    </div>
    

  </body>
</html>
